
body, html {margin: 0;padding: 0;}


#wrapwrapper{
    height: 100vh;
    width: 100hh;
    background-color: #F6F9F8;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: Courier; 
}

#wrapper{
    height: 100vh;
    width: 80vh;
    background-color: #F6F9F8;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}


#upper{
    height: 30%;
    width: 80%;
    background-color: #97BFCB;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}



#lower-wrap{
    height: 60%;
    width: 80%;
    background-color: #97BFCB;
    display: flex;
    justify-content: space-evenly;
    align-items : center;

}



#lower-wrap img{
   
        width: 100%; 
        max-width: 300px; 
        height: auto; 
      
}

#user-input{
    position: static;
    height: 30%;
    width: 50%;
    background-color: #2A7488;
    display: flex;
    justify-content: center;
    align-items: center;
}



#submit-error{
    position: absolute;
    margin-top: 45px;
    color: rgb(255, 58, 58);
    font-size: 15px;
}



#textInput{
    height: 20px;
    width: 60%;
}

#user-submit{
    height: 30%;
    width: 20%;
    background-color: #2A7488;
    display: flex;
    justify-content: center;
    align-items: center;
}



#output{
    width: 100%;
    
}

#create_input_name{
    width: 90%;
    height: 20px;
    background: black;
    color: green;
}
#create_input_code{
    width: 90%;
    height:100%;
    background: black;
    color: green;
}

#send_input_code{
    width: 90%;
    text: black;
}

.lower-column{
    box-sizing: border-box;
    padding: 10px;
    list-style-position: inside;
    height: 80%;
    width: 40%;
    background-color:#2A7488;    
    display: flex;
    overflow-y: auto;
}

.lower-column2{
    box-sizing: border-box;
    padding: 10px;
    list-style-position: inside;
    height: 80%;
    width: 40%;
    background-color:#2A7488;    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    font-size: 14px;
    font-weight: bold;
    
}



a:link{
    text-decoration: none;
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color: rgb(50,50,50);
    font-weight: bold;
    font-size: 18px;
}

